.container {
    display: flex;
    justify-content: center;/*alinha o conteudo na horizontal*/
    flex-direction: row;
    align-items: flex-start;/*alinha o conteudo na vertical*/
    background-color: #DDDDDD;
    height: 500px;
}
.container div {
    /*flex: 1;*/
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}